*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    outline: none;
}

.navdiv2{
    display: none;
    gap: 1rem;
    position: absolute;
    z-index: 1001;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0rem 2rem;
    width: calc(100% - 4rem);
    top: 20%;
    border-radius: 5px;
    border: 2px solid white;
    padding: 10px 0px;
    background-color: transparent;
    backdrop-filter: blur(20px);
}
#b1233{
    scale: 0.7;

}
#b1233:hover{
    scale:00.75;
}
.navdiv i{
    transition: all 0.1s ease-in-out;
}
.navdiv i:hover{
    box-shadow: 2px 2px 15px 1px #0f0f0f;
    color: orange;
}

@keyframes entry{
    from{
        display: none;
        opacity: 0;
    }
    to{ display: flex;
        opacity: 1;
    }
}

@keyframes exit{
    to{ display: none;
        scale: 0.5;
        opacity: 0;
    }
}

#side-man{
    position: absolute;
    z-index: 10000;
    height: 50vh;
    mix-blend-mode:overlay;
    top: 25%;
    left: 5%;
    animation: move-out 2s ease-in-out alternate-reverse forwards;
    transition: all 0.2s ease-in-out;
}






@media screen and (max-width:700px) {
    .navdiv > *{
        display: none;
    }
    .navdiv > i{
        display: inline;
        color: white;
        filter: drop-shadow(0px 5px 12px whitesmoke);
        scale: 1.145;

    }
    #mm{
        animation-range-start:60%;
        animation-range-end:95% ;
    }

    
}
@media screen and (min-width:701px) {
    .navdiv2{
        display: none;
    }

    
}